
footer ul {
    list-style: none;
}

footer a {
    color: rgba(255, 255, 255, 0.65);
}

footer .social {
    font-size: xx-large;
}

footer .social i {
    margin: 5px;
}

.social i:hover {
    color: white;
}