<div class="wrapper">
  <div class="main">
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <a routerLink='home' class="navbar-brand">
          <img src="assets/images/logo.png" alt="Startup Portal" style="height:80px">
      </a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
              <a routerLink='home' class="nav-link">Home</a>
          </li>

          <li class="nav-item">
            <a routerLink='/about' class="nav-link">About</a>
          </li>

          <li class="nav-item">
            <a routerLink='/news' class="nav-link">News</a>
          </li>

          <li class="nav-item">
              <a routerLink='/disscussion' class="nav-link">Discussion</a>
          </li>

          <li class="nav-item">
            <a routerLink='/contacts' class="nav-link">Contacts</a>
          </li>
        </ul>

        <ul *ngIf="!sessionValid" class="nav navbar-nav ml-auto">
          <li>
              <a routerLink='login' class="btn btn-dark ml-auto mt-1 mb-1">
                Login
                <i class="fas fa-user-alt ml-1"></i>
              </a>
            </li>
            <li>
              <a routerLink="register" class="btn btn-dark ml-auto mt-1 mb-1">
                Register
                <i class="fas fa-user-plus"></i>
              </a>
            </li>
        </ul>  
        
        <ul *ngIf="sessionValid" class="nav navbar-nav ml-auto">
          <li>
              <a routerLink='profile' class="btn btn-dark ml-auto mt-1 mb-1">
                Profile
                <i class="fas fa-user-alt ml-1"></i>
              </a>
            </li>
            <li>
              <button (click)="logout()" class="btn btn-dark ml-auto mt-1 mb-1">
                Logout
                <i class="fas fa-sign-out-alt"></i>
              </button>
            </li>
        </ul>  

      </div>
    </nav>

    <!-- Content -->
    <router-outlet></router-outlet>

  </div>
</div>

  <footer class="containter-fluid bg-dark">
    <div class="row">      
      <div class="col-md-12 mb-4">
        <footer class="page-footer blue text-center mt-0">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <h5 class="social mb-3">
                  <i class="fab fa-facebook-square"></i>
                  <i class="fab fa-twitter-square"></i>
                  <i class="fab fa-linkedin"></i>
                </h5>
                <p>StartUs is the leading Startup & Innovation Network connecting you with the Startup Community.</p>
              </div>
              <div class="col-md-4">
                <h5 class="title mb-3">About us</h5>
                <ul>
                    <li><a routerLink='home'>Home</a></li>
                    <li><a routerLink='news'>News</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
              </div>     
              <div class="col-md-4">
                <h5 class="title mb-3">For startups</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
              </div>          
            </div>
          </div>
        </footer>
        <div class="copyright">
          <div class="container-fluid">
            <small>&copy; 2021 StartUs</small>
          </div>
        </div>
      </div>
    </div>
  </footer>