.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('/assets/images/tech_company.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: rgba(255, 255, 255, 0.9);
    margin-left: 20vw;
    margin-right: 15vw;
}

.hero p {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.9);
    margin-left: 20vw;
    margin-right: 15vw;
}

.hero button {
    margin-left: 45vw;
    font-size: 1.4rem;
    margin-top: 1em;
}