<h4 class="card-title mt-3 text-center">Privacy Policy</h4>
<div class="card mx-auto p-5 mb-5" style="width: 90%;">
    <b>
        (1) Processing activities
    </b>
    <br/>
    Operation of career network and job exchange for (registered) customers
    <br/><br/>
    <b>(2) Controller</b>
    <br/>
    StartUs GmbH
    <br/><br/>
    <b>(3) Contact details of responsible entity for data protection</b>    
    <br/>
    StartUs GmbH
    c/o Data Protection
    Mariahilfer Straße 136
    1150 Vienna
    Austria
    info@startus.cc
    <br/><br/>
    <b>(4) Purposes of data processing</b>
    <br/>
    on the legal basis  of performance or preparation of contracts
    (a) Operation of an online job platform to compile the interests of potential employees and employers<br/>
    (b) Keeping job advertisements accessible to prospective employees and employers, informing interested parties about suitable offers<br/>
    (c) Provision of communication channels to the controller for servicing the contractual relationship<br/>
    (d) Maintaining and enhancing customer satisfaction and customer retention through an analysis of user behaviour<br/>
    (e) Collecting user data to document reach<br/>
    (f) Recommending jobs and candidates in the following cases:
    <br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;show best matching candidates to a job<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;show best matching jobs to a candidate<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;show best matching jobs to a job<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;show best matching candidates to a candidate<br/>
    (g) Enable network participants to establish and maintain networks
    on the legal basis of the (overriding) legitimate interests of the controller: direct marketing<br/>
    (h) Customer recovery and attracting new customers<br/>
    (i) Dissemination/presentation of advertising for (other) goods and services of the controller by means of direct marketing ("marketing purposes"), to the extent  permitted   by law<br/>
    (j) Analysis of reader behaviour and personal preferences of customers for the purpose of targeted dissemination of advertising with the aim of avoiding scatter losses (using profiling, see paragraph 9)
    <br/><br/>
    <b>(5) Legal basis for data processing</b>
    <br/>
    (1) Online use. Performance of the contract. The use of the career network and job exchange is already based on a contract as defined in Art. 6 (1) (b) GDPR; a registration relationship is established upon registration. Through the use of the social media channels of the controller the primary contractual relationship exists with the respective service provider.
    <br/><br/>
    (2) Additional services. Consent. The controller will obtain the customer's express consent for specific services (e.g. social media tools, recommender tool). Such consent may be withdrawn at any time with effect for the future.
    <br/><br/>
    <b>(6) Description of (overriding) legitimate interests for the purposes</b>
    <br/>
    Of IT security<br/>
    The controller will store the IP addresses of its customers for a period of 7 days in order to protect against targeted attacks in the form of server overloads (Denial of Service attacks) or other damage to the systems. The controller has an overriding legitimate interest in such data processing for the purposes of maintaining the functionality of its online services (Recital 49 GDPR).
    <br/><br/>
    <b>(7) Evaluating personal aspects of the customer (profiling)</b>
    <br/>
    Type<br/>
    Evaluation of personal interests with regard to jobs
    <br/><br/>
    Description<br/>
    For the purpose of compiling suitable job offers the controller processes and evaluates search and user behaviour, and draws conclusions about specific personal interests. The controller uses those evaluated interests to send the customer targeted job offers.
    <br/><br/>
    <b>(8) Objection to profiling</b>
    <br/>
    The customer may object to the use of his personal data for the purpose of profiling at any time and without having to state reasons. Upon objection the controller will no longer use the customer's personal data for the purposes of profiling.
    <br/><br/>
    <b>(9) Obligation to provide data</b>
    <br/>
    The customer is under no obligation to provide data. Reasonable use of the platform is, however, inconceivable without entering any data.
    <br/><br/>
    <b>(10) Automated decision-making</b>
    <br/>
    The customer is subject to no automated decision-making which would become legally effective vis-à-vis him.
    <br/><br/>
    <b>(11) Processed types of data</b>
    <br/>
    Provided by the customer
    <br/><br/>
    Name/Company name, academic degree<br/>
    Username<br/>
    Phone number<br/>
    Email address<br/>
    Place of residence or address<br/>
    Title<br/>
    Date of birth<br/>
    Application text<br/>
    Message contents<br/>
    Password<br/>
    Curriculum vitae<br/>
    Photo, Video<br/>
    Uploaded data<br/>
    Information on the desired job<br/>
    Current occupation, work experience<br/>
    Languages and other skills<br/>
    Training and continuing education<br/>
    Contact requests<br/>
    Bookmarked jobs
    <br/><br/>
    Additionally collected by the controller
    <br/><br/>
    IP addresses (log files)<br/>
    Data on the terminal equipment<br/>
    Browser used<br/>
    Equipment used<br/>
    Communications protocol<br/>
    Information on account use (e.g. date created, number of logins, date of the last request)<br/>
    Information on newsletter subscription<br/>
    User ID<br/>
    Facebook user ID<br/>
    Facebook email address<br/>
    Facebook profile link<br/>
    Date of the last Facebook alignment<br/>
    LinkedIn user ID<br/>
    LinkedIn email address<br/>
    LinkedIn profile link<br/>
    Date of the last LinkedIn alignment<br/>
    <br/><br/>
    <b>(12) Data sources (to the extent not provided by the customer nor collected by the controller)</b>
    <br/>
    Source<br/>
    Facebook login<br/>
    Types of data<br/>
    Email, name, sex, Facebook UID, Facebook link, photo
    <br/><br/>
    Hetzner Online GmbH, Industriestr. 25, 91710 Gunzenhausen, Germany
    Code Enigma, Smithfield Business Centre., 5 St John’s Lane, London, EC1M 4BH, United Kingdom
    Google G Suite, Google LLC, Googleplex, Mountain View, California, USA
    WP-Engine for hosting StartUs Magazine: Irongate House, 22-30 Duke's Place, London, EC3A 7LP, United Kingdom
    All external recipients can be written to and contacted via the controller with regard to questions under data protection law.
</div>