<div class='container mt-5' style="max-width: 600px">
    <form action="" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required="required" [(ngModel)]='username' name="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required" [(ngModel)]='password' name="password">
        </div>
        <input type="submit" class="btn btn-primary btn-block" value="Login" (click)='login()'>
    </form>
</div>
