<h4 class="card-title mt-3 text-center">Recommendations</h4>

<div class="mx-auto mb-5" style="max-width: 800px">
    <div class="row">
        <div class="col-md-6 mx-auto" *ngFor="let r of recommendations">
            <div class="card my-3" style='min-height: 500px;'>
                <div class="card-body">
                    <button class="btn btn-danger mx-2 float-right" (click)="delete(r)" *ngIf="loggedUser=='admin'">
                        <i class="fas fa-trash-alt"></i>
                    </button> 
                    <h5 class="card-title text-center">{{ r.title }} </h5>
                    <p class="card-text mb-2 text-muted">{{ r.text }}</p>
                             
                </div>
            </div>
        </div>
    </div>
</div>